.home-video {
  width: 100%;
}

.home-title-wrapper {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-background-wrapper {
  position: relative;
}

.home-title {
  font-size: 50px;
}

.title-explore {
  font-size: 40px;
  width: 50%;
  text-align: left;
  line-height: 1;
  margin-top: 40px;

  p {
    margin: 0 0 1rem;
  }
}

.autumn {
  display: flex;
  flex-direction: row;
  text-align: left;

  img {
    width: 100%;
  }
}

.w-50 {
  width: 50%;
  margin: auto;
  line-height: 100%;
}

.season-title {
  font-size: 20px;
}

.tiles-title {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

.underlined-text {
  text-decoration: underline;
}