.intro {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 1rem;

  img {
    width: 100%;
  }

  .flag {
    img {
      width: 100px;
    }
  }

}

.recipe-title {
  font-size: 52px;
  font-weight: normal;
}

.recipe-tag {
  font-size: 25px;
  padding-right: 20px;
}

.recipe-description {

  font-size: 26px;
  line-height: 1.7rem;
}

.w-50 {
    width: 50%;
    margin: auto;
    line-height: 100%;
    img {
        margin: 1rem;
    }
}

.body {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.body-63 {
    width: 63%;
    line-height: 100%;
}

.table {
    width: fit-content;
    line-height: 100%;
    background-color: #CDEAF3;
    height: fit-content;
  margin-top: 28px;
  padding: 2rem;
}

.powered {
  display: flex;
  margin-bottom: 60px;
  img {
    height: 15px;
  }
}

.recipe-ingredient {
  margin-bottom: 6px;
}

.recipe-youtube {
  margin-bottom: 60px;
}