
.title-wrapper {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 300px;
  margin: 0.5rem;
}

.tile {
  position: relative;
}

.flag {
  position: absolute;
  top: 0;
  height: 10%;
  right: 0;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 10%;
}
img.food-image {
  width: 100%;
}

.tile-title {
  font-size: 20px;
}