
.title-wrapper {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 300px;
  margin: 0.5rem;
}

a.title-wrapper {
  text-decoration: none;
}

.tile {
  position: relative;
}

.flag {
  img {
    width: 29px;
  }
}

.likes {
  svg {
    height: 15px;
  }
  height: 15px;
}
.logos {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 29px;
}

img.food-image {
  width: 100%;
}

.tile-title {
  font-size: 18px;
  margin: 0 0 0 10px;
  text-decoration: none;

}
.flag {
  margin-bottom: 10px;
}

.tile-information {
  display: flex;
  text-align: left;
  margin-top: 20px;
}